body {
    font-family: "Inconsolata";
    font-weight: 400;
    font-size: 110%;
}

code {
  font-family: "Source Code Pro", "Inconsolata", "Lucida Console", Monaco, monospace;
  font-size: 85%;
  font-weight: 500;
}

p code {
    background-color: #e4e4e4;
}
